{% extends './layout.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block body %}
<div class="index-body">
    <div class="index">
        <h1>NITK Procurement</h1>
        {% for form in forms %}
            <p>{{form.outside_title}} : <a href="{% url 'fill_form' id=form.id %}">Access Here</a> {% if request.user.is_superuser %}<a href="{% url 'create_section' id=form.id %}">Edit</a> {% endif %}</p>
        {% endfor %}
        <hr>
        <h3>Downloadable Forms</h3><hr>
        <p>Doc 4Q - Notice Inviting Quotation : <a href="{% static 'documents/Doc4Q.doc' %}" download>Download Here</a></p>
        <p>
            <p>Doc 4T - For Estimation below 5 lakhs : <a href="{% static 'documents/Doc4TEstimationbelow5.doc' %}" download>Download Here</a></p>
            <p>Doc 4T - For Estimation above 5 lakhs : <a href="{% static 'documents/Doc4TEstimationabove5.doc' %}" download>Download Here</a></p>
        </p>
        <p>Doc 8 : <a href="{% static 'documents/Doc8.doc' %}" download>Download Here</a></p>
        <p>Doc 13 : <a href="{% static 'documents/Doc13.doc' %}" download>Download Here</a></p>
        <p>Doc 14 : <a href="{% static 'documents/Doc14.doc' %}" download>Download Here</a></p>
        <p>Doc 15 for Purchase Order in ForeignCurrecncy : <a href="{% static 'documents/Doc15-FC-Purchase-Order-ForeignCurrecncy.doc' %}" download>Download Here</a></p>
        <p>Doc 15 for Purchase Order in Rupee : <a href="{% static 'documents/Doc15-INR-Purchase-Order-Rupee.doc' %}" download>Download Here</a></p>
    </div>
</div>

<style>
    .index{
        background: white;
        max-width: 1000px;
        padding-left: 3vw;
        padding-right: 5vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;

    }

    .index:hover{
        filter: drop-shadow(0 0 0.5rem rgb(206, 206, 206));
    }
    .index>h1{
        font-weight: bolder;
        letter-spacing: 2px;
        border-bottom: solid;
        border-color: rgb(159, 159, 159);
        padding-left: 2%;
    }
    .index>h5{
        font-weight: 550;
        letter-spacing: 1px;
        margin-top: 1rem;
        margin-left: 2%;
        margin-bottom: 1.5rem;
    }
    label{
        margin-left: 2%;
    }
    .form-control{
        max-width: 600px;
        margin-left: 2%;
        margin-bottom: 2rem;
    }
    .btn{
        max-width: 150px;
        margin-left: 2%;
        background:  #6770d2;
        background-color: #6770d2;
    }
    .login-form {
        border-bottom:solid;
        border-width: thin;
        padding-left: 1%;
        padding-bottom: 1rem;
        max-width: 650px;
        border-color: rgb(193, 193, 193);;
    }
    a {
        display: inline-block;
        text-align: right;
        margin-left: 20px; /* Adjust this value to align the links */
    }
</style>
{% endblock %}

