{% extends './layout.html' %}
  {% load static %}
  {% block body %}
  <div class="content">
    <!-- <div class="sidebar">
      <h3 class="logout-button"><a href="{% url 'logout' %}">
        <button>Logout</button>
      </a></h3>
      {% for formshow in forms %}
          <h3 class="next-button">{{formshow.outside_title}}
            <a href="{% url 'fill_form' id=formshow.id %}">Access Here</a>
          </h3>
      {% endfor %}
    </div>   -->
  <div class="form-full">
    <div class="form-header">
      <h1 style="max-width: max-content; margin: auto;">{{form.title}}</h1>
      <h5 style="max-width: max-content; margin: auto;">{{form.description}}</h5>
    </div>
    <form id="myForm" action="#" enctype="multipart/form-data" method="post">
        {% csrf_token %}
    <div class="form-body">
      {% for sec in sections %}
        {% if sec.section_type == "center" %}
        <div class="sec-center">
          {% if sec.title %}
            <h1>{{sec.title}}</h1>
          {% endif %}
          {% if sec.description %}
           <h5>{{sec.description}}</h5>
          {% endif %}
          {% for ques in sec.questions.all %}
            <div style="width: max-content; margin: auto;" class="question">
              {% if ques.self_question %}
              <h2>{{ques.question}}: {{self_question|get_item:ques.id}}</h2>
            {% else %}
              <h2>{{ques.question}}: <input type="text" name="question{{ques.id}}" value = "{{responses|get_item:ques.id}}"></h2>
            {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if sec.section_type == "left" %}
        <div class="sec-left">
          {% if sec.title %}
            <h1>{{sec.title}}</h1>
          {% endif %}
          {% if sec.description %}
           <h5>{{sec.description}}</h5>
          {% endif %}
          {% for ques in sec.questions.all %}
            <div class="question">
              {% if ques.self_question %}
                <h2>{{ques.question}}: {{self_question|get_item:ques.id}}</h2>
              {% else %}
              <h2>{{ques.question}}: <input type="text" name="question{{ques.id}}" value = "{{responses|get_item:ques.id}}"></h2>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if sec.section_type == "flex" %}
        <div class="sec-flex">
          {% if sec.title %}
            <h1>{{sec.title}}</h1>
          {% endif %}
          {% if sec.description %}
           <h5>{{sec.description}}</h5>
          {% endif %}
          {% for ques in sec.questions.all %}
            <div class="question">
            {% if ques.self_question %}
              <h2>{{ques.question}}: {{self_question|get_item:ques.id}}</h2>
            {% else %}
            <h2>{{ques.question}}: <input type="text" name="question{{ques.id}}" value = "{{responses|get_item:ques.id}}"></h2>
            {% endif %}
            <!-- <h2>{{ques.question}}:</h2> <input type="text" class="form-control" name="question{{ques.id}}" value = "{{responses|get_item:ques.id}}"> -->
            </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if sec.section_type == "table" %}
        <div class="sec-table">
          <table border="50">
            <tr>
              <th>{% if sec.title %}{{sec.title}}
              {% endif %}</th>
              <th>{{sec.description}}</th>
            </tr>
            {% for ques in sec.questions.all %}
            <tr>
              <td>{{ques.question}}</td>
              {% if self_question %}
                  <td><input type="text" class="form-control" name="question{{ques.id}}" value = "{{self_question|get_item:ques.id}}"></td>
              {% else %}
                  <td><input type="text" class="form-control" name="question{{ques.id}}" value = "{{responses|get_item:ques.id}}"></td>
              {% endif %}
            </tr>
          {% endfor %}
          </table>
        </div>
        {% endif %}
      {% endfor %}
      <button type="submit" name="submit_button"class="btn btn-primary" id="submit_button">Submit</button>
      <button type="submit" name="save_button" class="btn btn-primary" id="save_button">Save</button>
    </div>
    </form>
  </div>
</div>
<script>
  document.getElementById("submit_button").addEventListener("click", function () {
      // Set the form's action attribute to the URL for the "Submit" action
      document.getElementById("myForm").action = "{% url 'generate_pdf' id=form.id %}";
  });

  document.getElementById("save_button").addEventListener("click", function () {
      // Set the form's action attribute to the URL for the "Save" action
      document.getElementById("myForm").action = "{% url 'fill_form' id=form.id %}";
  });
</script>
<style>
  h1 {
    font-size: 25px;
  }
  h2{
    font-size: 15px;
  }
  .form-full{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    background: white;
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width:200px;
}
.logout-button, .next-button {
  padding: 12px 20px; /* Adjust padding for larger buttons */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px; /* Adjust font size to make it smaller */
}
.content {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    width: calc(100% - 10px);
    max-width: 1500px;
}
  .form-header{
    max-width: 1000px;
    margin: auto;
    border-bottom: solid;
    border-width: 2px;
  }

  .sec-center{
    max-width: 500px;
    margin: auto;
  }

  .sec-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec-table{
    max-width: 500px;
    margin: auto;
  }
  table{
    display: table;
    border: 1rem;
    width: 500px;
  }
  .form-body{
    padding-bottom: 30px;
    border-bottom: solid;
  }
  .question{
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  input{
    max-width: 200px;
  }
</style>
<script>
    function handleInputChange(quesId) {
    // Get the input element by its name
    var inputElement = document.querySelector(`input[name="question${quesId}"]`);

    // Update the value attribute with the user's input
    if (inputElement) {
      var userInput = inputElement.value;
      inputElement.setAttribute('value', userInput);
    }
  }

  // Attach an event listener to input fields for change events
  var questions = document.querySelectorAll('input[type="text"]');
  questions.forEach(function (input) {
    input.addEventListener('change', function (event) {
      var quesId = event.target.name.replace('question', '');
      handleInputChange(quesId);
    });
  });
</script>
  {% endblock %}
